{% extends "bootstrap/base.html" %}

{% block title %} Fisbang - where green idea get implemented {% endblock %}

{% block metas %}
    {{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}

{% block styles %}
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='static')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/admin/app.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/admin/app-landing.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/admin/app-fisbang.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{bootstrap_find_resource('js/jquery.js', cdn='static')}}"></script>

    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='static')}}"></script>
{% endblock %}
