<footer class="back-footer">
  <div class="container">
    <div class="row">  
      <div class="col-md-6">
	<h2> contact us</h2>
	<p> Feel free to email us to provide some feedback on everything,
	  give us opportunity to implement your idea, or to just say hello!
	</p>
	<p><a href="mailto:contact@fisbang.com">contact@fisbang.com</a> 
      </div>
      <div class="col-md-6">
	<div class="col-xs-3 col-md-3">
	  <img src="{{ url_for('static', filename='img/img-footer-logo.png') }}"s>
	</div>
	<div class="col-xs-9 col-md-9">
	  <h2> fisbang : get implemented </h2>
	  <p> Fisbang is abbreviation of FISika BANGunan (in Bahasa) </p>
	  <p> Copyright © Fisbang 2015 </p>
	</div>  
      </div>
    </div>	   
  </div>
</footer>
