<header class="navbar navbar-fixed-top bg-white">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="brand">
      <img src="{{ url_for('static', filename='img/logo_fisbang.png') }}" href="homepage.html">
      <span>Fisbang</span>
    </div><!-- /brand -->	
  </div>
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <ul class="nav navbar-nav navbar-right">
      <li>
	<a href="{{ url_for('homepage.index') }}" class="top-link">Home</a>
      </li>
      <li>
	<a href= "{{ url_for('market.index') }}" class="top-link">Market</a>
      </li>
      <li>
	<a href="{{ url_for('app.index') }}" class="top-link">App</a>
      </li>
      <li>
	<a href="http://blog.fisbang.com" class="top-link">Blog</a>
      </li>
      <li>
	<a href="{{ url_for('dashboard.index') }}" class="top-link">Jhone Doe</a>
      </li>
    </ul>
  </nav>
</header>
