{% extends "app/base.html" %}

{% block navbar %}
    {{ super() }}
    {% include 'app/navbar.html' %}
{% endblock %}

{% block content %}
    {{ super() }}
    {% include 'app/content.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Flot Charts JavaScript -->
    <script src="{{ url_for('static', filename='js/plugins/flot/excanvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/plugins/flot/flot-data.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/fisbang-data.js') }}"></script>
{% endblock %}
