{% extends "base.html" %}

{% block navbar %}
    {{ super() }}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {{ super() }}
    <div id="landing-content">
      <section id="market">
	<div class="container">
	  <div class="jumbotron white">
	    <div class="row">
	      <div class="col-md-6">
		<h3> Fisbang Market : </h3>
		<h1>Everything you need for your next great idea </h1>
		<p>We connect you with experts for your idea for your building/facility. 
		  Example, if you want to design and control your lamp for home or studio,
		  Fisbang is the best way to implement that. 
		</p>
		<p><a href="{{ url_for('market.project_create')}}" class="btn btn-fsbg btn-lg">Start your project</a>  or  <a href="{{ url_for('market.more_market')}}" class="btn btn-fsbg btn-lg">More about market</a> </p>
	      </div>
	      <div class="col-md-6">
		<img src="{{ url_for('static', filename='img/img-market-3.png') }}">
	      </div>
	    </div>      
	  </div>
	</div>
      </section>	
      <section id="portfolio">
	<div class="container non-jumbotron">
	  <div class="row">
	    <div class="col-md-12 ">
	      <h1>What's on Fisbang Market</h1> 
	      <p class="section-subheading">Explore product thant can make your building more efficient. Also find out project using fisbang</p>  
	    </div> 	
	  </div> 
	  <div class="row">
	    <div class="col-md-4 col-sm-6 portfolio-item">
	      <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		  <div class="portfolio-hover-content">
		    <i class="fa fa-plus fa-3x"></i>
		  </div>
		</div>
		<img src="{{ url_for('static', filename='img/market-led.png') }}" class="img-responsive" alt="">
	      </a>
	      <div class="portopolio-caption product">
		<h4>Product</h4>
		<h2> LED Lamps </h2>
		<p class="text-muted">High Efficient LED can save your bill more. Find out how if your building use it in case of energy and brightness</p>
	      </div>
	    </div>
	    <div class="col-md-4 col-sm-6 portfolio-item">
	      <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		  <div class="portfolio-hover-content">
		    <i class="fa fa-plus fa-3x"></i>
		  </div>
		</div>
		<img src="{{ url_for('static', filename='img/market-rad.png') }}" class="img-responsive" alt="">
	      </a>
	      <div class="portopolio-caption product">
		<h4>Product</h4>			                   
		<h2>Radiant Cooling</h2>
		<p class="text-muted">Best for re-design your building to get efficient cooling system with great comfort level. Find out how if your building use it in case of energy and comfort level</p>
	      </div>
	    </div>
	    <div class="col-md-4 col-sm-6 portfolio-item">
	      <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		  <div class="portfolio-hover-content">
		    <i class="fa fa-plus fa-3x"></i>
		  </div>
		</div>
		<img src="{{ url_for('static', filename='img/market-es.png') }}" class="img-responsive" alt="">
	      </a>
	      <div class="portopolio-caption service">
		<h4>Services</h4>	
		<h2>Energy Simulation</h2>
		<p class="text-muted">Detailed Simulation for certification or finding out best system for your building </p>
	      </div>
	    </div>			                
	  </div>
	  <div class="row">
	    <div class="col-md-4 col-sm-6 portfolio-item">
	      <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		  <div class="portfolio-hover-content">
		    <i class="fa fa-plus fa-3x"></i>
		  </div>
		</div>
		<img src="{{ url_for('static', filename='img/market-col.png') }}" class="img-responsive" alt="">
	      </a>
	      <div class="portopolio-caption service">
		<h4>Services</h4>
		<h2>Cooling Capacity Evaluation</h2>
		<p class="text-muted">Evaluate and understand how much your building needs cooling equipment</p>
	      </div>
	    </div>
	    <div class="col-md-4 col-sm-6 portfolio-item">
	      <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		  <div class="portfolio-hover-content">
		    <i class="fa fa-plus fa-3x"></i>
		  </div>
		</div>
		<img src="{{ url_for('static', filename='img/market-al.png') }}" class="img-responsive" alt="">
	      </a>
	      <div class="portopolio-caption service">
		<h4>Services</h4>			                   
		<h2>Lighting Design </h2>
		<p class="text-muted">Design and Specify lights, amarture and control based on your needs</p>

	      </div>
	    </div>
	    <div class="col-md-4 col-sm-6 portfolio-item">
	      <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		  <div class="portfolio-hover-content">
		    <i class="fa fa-plus fa-3x"></i>
		  </div>
		</div>
		<img src="{{ url_for('static', filename='img/market-dl.png') }}" class="img-responsive" alt="">
	      </a>
	      <div class="portopolio-caption service">
		<h4>Services</h4>	
		<h2>Daylighting Simulation</h2>
		<p class="text-muted">Optmize your building with daylighting to save energy and better visualization </p>
	      </div>
	    </div>			                
	  </div>
	  <div class="row">
	    <div class="col-md-4 col-sm-6 portfolio-item">
	      <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		  <div class="portfolio-hover-content">
		    <i class="fa fa-plus fa-3x"></i>
		  </div>
		</div>
		<img src="{{ url_for('static', filename='img/market-gb.png') }}" class="img-responsive" alt="">
	      </a>
	      <div class="portopolio-caption service">
		<h4>Services</h4>
		<h2>Green Building Certification</h2>
		<p class="text-muted">Using Greenship or even LEED Certification for your green building</p>
	      </div>
	    </div>
	    <div class="col-md-4 col-sm-6 portfolio-item">
	      <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		  <div class="portfolio-hover-content">
		    <i class="fa fa-plus fa-3x"></i>
		  </div>
		</div>
		<img src="{{ url_for('static', filename='img/market-ea.png') }}" class="img-responsive" alt="">
	      </a>
	      <div class="portopolio-caption service">
		<h4>Services</h4>			                   
		<h2>Energy Audit and ESCO</h2>
		<p class="text-muted">Know your current condition and find out how to improve</p>
	      </div>
	    </div>
	    <div class="col-md-4 col-sm-6 portfolio-item">
	      <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		  <div class="portfolio-hover-content">
		    <i class="fa fa-plus fa-3x"></i>
		  </div>
		</div>
		<img src="{{ url_for('static', filename='img/market-fb2.png') }}" class="img-responsive" alt="">
	      </a>
	      <div class="portopolio-caption service">
		<h4>Services</h4>	
		<h2>Asking Question</h2>
		<p class="text-muted">Feel free to ask us any question related to your building </p>
	      </div>
	    </div>			                
	  </div>			            
	</div>  
      </section>


    </div><!-- /landing-content -->
    {% include 'footer.html' %}

{% endblock %}
