{% extends "base.html" %}

{% block navbar %}
    {{ super() }}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {{ super() }}
    <div id="wrapper" class="back-market">    
        <div class="container">
            <div class="jumbotron">
              <div class="col-md-6">
                <h1>Everything you need for your next great idea </h1>
                <p>We connect you with experts for your idea for your building/facility. 
                  Example, if you want to design and control your lamp for home or studio,
                  Fisbang is the best way to implement that. 
                </p>
                <p><a href="{{ url_for('market.project_create') }}" class="btn btn-info btn-lg">Start your project</a></p>
              </div>
              <div class="col-md-6">
                  <img src ="{{ url_for('static', filename='img/img-market-1.png') }}">
              </div>  
            </div>
        </div>
    </div>

    <section id="Steps" class="container">
      <div class="row">
        <div class="col-md-12"><h1>Reasons for using Fisbang Market</h1></div>    
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2>Based on what do you need</h2>
          <p>Tell what do you need or want, we will work based on date without trying to sell others. We neutral and pick the solutions based on you.</p>
        </div>
        <div class="col-md-3">
          <h2>Affodable Price</h2>
          <p>Fisbang is built to help people get affordable or logic
            price for what they need. Most of Costumer's money will be transferred to expert and we take a little as fee to maintain. Indeed,
            everybody's happy at the end.</p>
        </div>
        <div class="col-md-3">
          <h2>Selected expert, driven by community</h2>
          <p> Building community is the great way to find out the best way to
            impleement the idea or solve problem. You do not need to hire expensive
            company for completing your job.</p>
        </div>
        <div class="col-md-3">
          <h2>Dont Worry, we help to control</h2>
          <p>We will manage the project until closing. Solving
            the problem and maintain the schedule. Also, we build the good documentation or deal with expert. Yes, fisbang is for costumer.</p>
        </div>
      </div>
      <hr>
    </section>

    <section id="project"> 
        <div class="container"> 
            <div class="row">
                <div class="col-md-12">
                  <h1>List of Project on Market</h1>
                  <a href="{{ url_for('market.projects_list') }}"  class="btn btn-danger">See all projects</a>
                </div>
            </div>      
            <div class="row">
                {% for project in project_list %}
                <div class="col-xs-4">
                    <img src ="{{ url_for('static', filename='img/portfolio-'+loop.index|string+'.jpg') }}">
                    <p><a href="{{ url_for('market.project_details', project_id=project.id) }}"  class="btn btn-danger">{{ project.name }}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>    
    </section>

    {% include 'footer.html' %}

{% endblock %}
