{% extends "base.html" %}

{% block navbar %}
    {{ super() }}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {{ super() }}
    <div id="landing-content">
      <section id="steps">
	<div class="container">
	  <div class="non-jumbotron">
	    <div class ="row"> 
	      <div class="col-md-12">
		<h1>Fisbang Market : from idea into Implementation</h1>
		<p> We Connect you with expert and or related supplier</p>          
	      </div>  
	    </div>
	  </div>    
	</div>      
      </section> 
      <section id="Promote">
	<div class="container non-jumbotron">
	  <div class="row">
	    <div class="col-md-12"><h1>Reasons for using Fisbang Market</h1></div>    
	  </div>
	  <div class="row">
	    <div class="col-md-3">
	      <h2>Based on what do you need</h2>
	      <p>Tell what do you need or want, we will work based on date without trying to sell others. We neutral and pick the solutions based on you.</p>
	    </div>
	    <div class="col-md-3">
	      <h2>Affodable Price</h2>
	      <p>Fisbang is built to help people get affordable or logic
		price for what they need. Most of Costumer's money will be transferred to expert and we take a little as fee to maintain. Indeed,
		everybody's happy at the end.</p>
	    </div>
	    <div class="col-md-3">
	      <h2>Selected expert, driven by community</h2>
	      <p> Building community is the great way to find out the best way to
		impleement the idea or solve problem. You do not need to hire expensive
		company for completing your job.</p>
	    </div>
	    <div class="col-md-3">
	      <h2>Dont Worry, we help to control</h2>
	      <p>We will manage the project until closing. Solving
		the problem and maintain the schedule. Also, we build the good documentation or deal with expert. Yes, fisbang is for costumer.</p>
	    </div>
	  </div>
	</div>          
      </section> 

    </div><!-- /landing-content -->
    {% include 'footer.html' %}

{% endblock %}
